.myName
{
	font-family: "Open Sans", sans-serif;
	text-align: center;
	position: relative;
	font-size: 3em;
	margin-top: 150px;
	z-index: 4;
}

.Subtext1
{
	font-family: "Open Sans", sans-serif;
	text-align: center;
	position: relative;
	font-size: 22px;
	margin-top: -20px;
}
